/* Empty. Add your own CSS if you like */
.bar-header {
  background-image: url('../img/navbg.png') !important;
  background-repeat: repeat !important;
  background-color: #be4238 !important;
}

.tabs {
  background-color: #be4238 !important;
}
