<ion-view title="聯絡人">
  <ion-content>
    <div class="list">

      <div class="item item-button-right">
        景立
        <button class="button button-assertive">
            <i class="icon ion-ios-telephone"></i>
          </button>
      </div>

      <div class="item item-button-right">
        台南
        <button class="button button-assertive">
            <i class="icon ion-ios-telephone"></i>
          </button>
      </div>

      <div class="item item-button-right">
        嘉義
        <button class="button button-assertive">
            <i class="icon ion-ios-telephone"></i>
          </button>
      </div>

    </div>
  </ion-content>
</ion-view>
