<ion-view style="background: url(img/main.png) no-repeat center center fixed;background-size:cover;">
  <ion-content class="padding padding-top transform" scroll="false">
    <div align="center" class="center-y">
      <br><br><br>
      <img src="img/87.png"></img>
      <!-- <h4 style="margin-bottom: 5vh;">{{title}}</h4> -->
      <form name="loginForm">
        <div class="list">
          <label class="item item-input" style="border-radius: 6px 6px 0px 0px;">
            <input type="text" placeholder="帳號" name="account" ng-model="loginData.account" required/>
          </label>
          <label class="item item-input" style="border-radius: 0px 0px 6px 6px;">
            <input name="password" type="password" placeholder="密碼" ng-model="loginData.password" required/>
          </label>
        </div>

        <button class="button button-block" style="color:#ffffff; background-color:#be4238;"ng-click="loginClick()">登入</button>
      </form>
    </div>
  </ion-content>
</ion-view>
