<ion-view view-title="{{showDate}} 銷貨清單">
  <ion-content class="padding">
    <button class="button button-positive button-block" style="margin: 0;" ng-click="openDatePicker()">請選擇日期
    </button>
    <div class="list">
      <div class="item" ng-repeat="rec in records">
        <h2>銷貨客戶：{{rec.saleCustomer.fullName}}</h2>
        <span class="badge badge-assertive">{{rec.weight}}&nbspKG</span>
        <h2>請款客戶：{{rec.accountCustomer.fullName}}</h2>
        <h3>專案名稱：{{rec.orderCase}}</h3>
        <h3>工地備註：{{rec.projectName}}</h3>
        <h3>銷貨地址：{{rec.saleAddress}}</h3>
        <h3>車號：{{rec.carNo}}</h3>
        <h3>司機：{{rec.driver}}</h3>
      </div>
    </div>
  </ion-content>
</ion-view>
